.#*
*~
atlassian-ide-plugin.xml
bin/
build
classes
.classpath
.DS_Store
.externalToolBuilders
.factorypath
.gradle
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/tasks.xml
.idea/workspace.xml
log/
.nbattrs
.project
.settings/
target
